DATABASE_URL=
PAYSTACK_SECRET_KEY=sk_test_d1627df77cb8253d4b4ce6bc636c8344c7410032
PAYSTACK_PUBLIC_KEY=pk_test_3452352e4b0746c11da2c6f9cbe4fd297a5f60f8
FLUTTERWAVE_SECRET_KEY=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
